
.headstyle {
	background-color: grey;
	margin-top: -1%;
	margin-left: -1%;
	margin-right: -1%;
	padding: 1%;
}

img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

table td{
	border:1px solid black;
	text-align: center;
}
table tr:hover {
	background-color: grey;
	color: white;
}